.head {
    cursor: pointer;
}

.head .logo img{
    width: 500px;
}

header{
    background-color: #000;
    color: #fff;
}

header li a{
    margin-right: 30px;
    transition: 0.5s;
  }

  header li a:hover {
    color: skyblue;
    cursor: pointer;
}

.barIco{
    font-size: 25px;
    background: none;
    color: #fff;
    display: none;
    border: none;
}
@media screen and (max-width:768px) {
    .head .ad {
        display: none;
    }
    header .icon {
        display: none;
    }
    header .flex {
        display: none;
    }
    .barIco{
        display: block;
    }
}